
.donate-hidden {
    display: none;
}

.sponsor-card a {
    text-decoration: none;
}

/* Blog post date and category */
.post-meta {
    font-style: italic;
}

.sect1 h2 {
    padding-top: 1.5rem;
}

.sect1 h3 {
    padding-top: 1rem;
}

.sect1 h4 {
    padding-top: 0.7rem;
}

.paragraph>img {
    margin-bottom: 1rem;
}

.text-center>.title {
    text-align: center !important;
    font-size: 80%;
}

li>p {
    margin-bottom: 0.2rem;
}