<div>
    <h4 class="sidebar-widget-title">Categories</h4>
    <div class="list-group">
        {{ $tax := index .Site.Taxonomies "blog/categories" }}
        {{ range $key, $taxonomy := $tax }}
        <a class="list-group-item d-flex justify-content-between align-items-center" href="{{ .Page.Permalink }}">{{ .Page.Title }}
            <span class="badge bg-secondary rounded-pill">{{ .Count }}</span>
        </a>
        {{ end }}
      </div>
</div>